#root {
  font-family: 'Inter Variable', system-ui;
  min-height: 100vh;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subtitle {
  color: var(--txt-secondary);
  font-weight: 500;
}

.info {
  color: var(--txt-secondary);
  font-size: 0.9rem;
}
