.cv {
  --divider: 1.5px solid #000;

  font-family: 'STIX Two Text Variable', serif;
  font-size: 11pt;
  flex: 1;
  border: 1.5px solid var(--txt-secondary);
  padding: 32px;
  width: 100%;
  max-width: 750px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow: hidden;
}

.cv--print {
  padding: 0;
  border: none;
}

.cv-header {
  text-align: center;
  border-bottom: var(--divider);
  padding: 4px;
}

.cv-title {
  font-size: 24pt;
  margin-bottom: 4px;
  font-weight: bold;
}

.cv-about {
  font-style: italic;
}

.cv-subtitle {
  text-transform: uppercase;
  border-bottom: var(--divider);
  font-weight: bold;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.big-gap {
  gap: 16px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header-row {
  max-width: 50%;
}

.header-row:last-child {
  text-align: right;
}

.school {
  text-transform: uppercase;
}
