.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  max-width: 600px;

  & h2 {
    text-align: center;
  }

  & > .move-btn {
    align-self: center;
  }
}

.general-fields {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;

  & .form-field:last-child {
    grid-column: span 2;
  }
}

.professional-fields {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-field-group {
  display: flex;
  gap: 8px;

  & > .form-field {
    flex: 1;
  }
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 4px;

  &:has(input[type='checkbox']) {
    flex-direction: row;
    justify-content: center;
    gap: 8px;
  }
}

input,
textarea {
  font: inherit;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea {
  resize: none;
}

.btns-container {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.move-btn {
  --bg-color: #000;
  --txt-color: #fff;

  border: 1px solid #ccc;
  border-radius: 4px;
  font: inherit;
  background-color: var(--bg-color);
  color: var(--txt-color);
  padding: 8px 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: opacity 0.25s;

  &:hover {
    opacity: 0.75;
  }
}

.btn-secondary {
  --bg-color: #f0f0f0;
  --txt-color: #000;
}

.counter-field {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.counter {
  display: flex;
  gap: 8px;
  align-items: center;

  & span {
    width: 1rem;
    color: var(--txt-primary);
    text-align: center;
  }
}

.counter-btn {
  width: 25px;
  height: 25px;
  border: 1px solid #ccc;
  border-radius: 100%;
  padding: 16px;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  transition: opacity 0.25s;

  &:hover {
    opacity: 0.5;
  }
}
